<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header>
      <div class="banner"></div>
    </header>
    <main>
      <h1>SOBRE MÍ</h1>
      <section>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati
          sint accusantium, molestias totam beatae dicta quis debitis ab sed
          tempora. Rerum impedit earum modi nostrum ab placeat veritatis
          perferendis possimus commodi voluptates quae, consequuntur quo
          voluptate sapiente quaerat dolorem, unde dolore suscipit quidem ullam
          totam ipsa odit. Nulla, dolore ullam enim eum, provident praesentium
          velit accusantium iste iusto repellendus ad nemo, corporis laudantium
          illo quas. Magnam nihil deleniti culpa? Laudantium assumenda
          consequuntur atque facere, tenetur eveniet nulla voluptate accusamus
          ducimus vero magnam, ea odio autem, rem praesentium doloremque id
          necessitatibus porro qui enim quibusdam. Perspiciatis perferendis
          laboriosam voluptatibus? Iusto, hic.
        </p>
        <hr />
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati
          sint accusantium, molestias totam beatae dicta quis debitis ab sed
          tempora. Rerum impedit earum modi nostrum ab placeat veritatis
          perferendis possimus commodi voluptates quae, consequuntur quo
          voluptate sapiente quaerat dolorem, unde dolore suscipit quidem ullam
          totam ipsa odit. Nulla, dolore ullam enim eum, provident praesentium
          velit accusantium iste iusto repellendus ad nemo, corporis laudantium
          illo quas. Magnam nihil deleniti culpa? Laudantium assumenda
          consequuntur atque facere, tenetur eveniet nulla voluptate accusamus
          ducimus vero magnam, ea odio autem, rem praesentium doloremque id
          necessitatibus porro qui enim quibusdam. Perspiciatis perferendis
          laboriosam voluptatibus? Iusto, hic.
        </p>
        <hr />
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati
          sint accusantium, molestias totam beatae dicta quis debitis ab sed
          tempora. Rerum impedit earum modi nostrum ab placeat veritatis
          perferendis possimus commodi voluptates quae, consequuntur quo
          voluptate sapiente quaerat dolorem, unde dolore suscipit quidem ullam
          totam ipsa odit. Nulla, dolore ullam enim eum, provident praesentium
          velit accusantium iste iusto repellendus ad nemo, corporis laudantium
          illo quas. Magnam nihil deleniti culpa? Laudantium assumenda
          consequuntur atque facere, tenetur eveniet nulla voluptate accusamus
          ducimus vero magnam, ea odio autem, rem praesentium doloremque id
          necessitatibus porro qui enim quibusdam. Perspiciatis perferendis
          laboriosam voluptatibus? Iusto, hic.
        </p>
        <a href="../index.html">Volver al CV</a>
      </section>
    </main>
    <footer>
      <h2 class="footer">
        0810 - BATMAN
        <a href="https://www.instagram.com/luispiriz.23/" target="_blank"
          ><i class="fa-brands fa-instagram"></i></a
        ><a href="https://www.linkedin.com/in/luis-piriz/" target="_blank"
          ><i class="fa-brands fa-linkedin"></i></a
        ><a href="https://github.com/LuisPiriz" target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
      </h2>
    </footer>
  </body>
</html>
